


.hollow-compose-many-circles {
  width: 250px;
  height: 250px;
  position: relative;
  background: radial-gradient(circle at right bottom, transparent 10px, #00adb5 0) top right / 51% 150px no-repeat,
    radial-gradient(circle at left bottom, transparent 10px, #00adb5 0) top left / 51% 150px no-repeat,
    radial-gradient(circle at right top, transparent 10px, #eeeeee 0) bottom right / 51% 100px no-repeat,
    radial-gradient(circle at left top, transparent 10px, #eeeeee 0) bottom left / 51% 100px no-repeat;
   
}



.hollow-compose-many-circles::after {
  content: '';
  position: absolute;
  height: 5px;
  width:100%;
  left: 0;
  bottom: -5px;
  background-image: linear-gradient(to right, #eeeeee 5px, transparent 5px, transparent),
  radial-gradient(10px circle at 10px 5px, transparent 5px, #eeeeee 5px);
  background-size: 15px 5px;
  }