* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containet {
    display: flex;
    justify-content: center;
    width: auto;
    min-height: auto;
}
/*
.containet .box {
    position: relative;
    width: 50%;
    height: 50vh;
    filter: grayscale(1);
    border: 4px solid #000;
}

.containet .box:hover {
    filter: grayscale(0);
}

.containet .box video {
    position: relative; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}