* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    background-color: #00112c;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #ff4b2b 50%, #ff416c 100%);
    clip-path: circle(25% at 50% 100%);
  }

  .card {
    width: 340px;
    margin: 25px;
    padding: 40px;
    background: linear-gradient(
      152deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .profile {
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
  }

  .profile img {
    width: 140px;
    height: 140px;
    border-radius: 10px;
  }



  .user {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }


  
  .stats-box .stats {
    color: #ffffff;
    font-weight: 400;
    text-align: center;
  }

  .stats-box .stats .count {
    font-size: 24px;
  }

  .stats-box .stats .follow {
    color: #ffffffcc;
    font-size: 17px;
    text-transform: capitalize;
  }