@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	/* background: rgba(0, 0, 0, 0.7) url(../images/2.png); */
	background: #5c6bc0;
	background-attachment: fixed;
	background-blend-mode: hard-light;
}

.container {

	position: absolute;
	top: 80px;
	left: 100px;
	right: 100px;
	bottom: 80px;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5rem;
	
}

.container h2 {
	text-align: center;
	font-size: 10em;
	line-height: 0.7em;
	color: #303f9f;
	margin-top: -80px;
}

.container h2 span {
	display: block;
	font-weight: 300;
	letter-spacing: 6px;
	font-size: 0.2em;
}
.container h2 span a{
	color: red;
}
.countdown {
	display: flex;
	margin-top: 50px;
}

.countdown div {
	position: relative;
	width: 120px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background: #607d8b;
	color: #fff;
	margin: 0 15px;
	font-size: 3em;
	font-weight: 500;
	border-radius: 5rem;
}

.countdown div::before {
	content: '';
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 100%;
	height: 35px;
	background: #81d4fa;
	color: #333;
	font-size: 0.45em;
	line-height: 35px;
	font-weight: 300;
	border-radius: 5rem;
}

.countdown div#day::before {
	content: 'Days';
}

.countdown div#hour::before {
	content: 'Hours';
}

.countdown div#minute::before {
	content: 'Minutes';
}
.countdown #second::before {
	content: 'Seconds';
}
