*
{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Popins' sans-serif;
}
body
{
      background: #111;
}
header
{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 30px 100px;
     justify-content: space-around;
     align-items: center;
     z-index: 10000;
}
header .logo
{
      font-size: 2em;
      color: #fff;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
}
header .toggle
{
 position: relative;
 width: 30px;
 height: 30px;
 background: url(menu.png);
 background-position: center;
 background-repeat: no-repeat;
 background-size: 30px;
 cursor: pointer;
}
.slider
{
position: relative;
width: 100%;
min-height: 100vh;
display: flex;
align-items: flex-end;
background: #000;
}
.slider .imgbox
{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      z-index: 1;
}
.slider .imgbox img
{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
}

.slider .imgbox .content
{
      position: relative;
      
}