@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 40px 40px;
}

.container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.container ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border: 1px dashed #aaa;
}

.container ul li {
    margin: 50px 60px;
    position: relative;
}

.container ul li>span {
    content: '';
    position: absolute;
    top: 0;
    left: -60px;
    width: 0;
    height: 100%;
    border: 1px solid #aaa;
}

.container ul li>span::before,
.container ul li>span::after {
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid #aaa;
    position: absolute;
    border-radius: 50%;
    left: -7px;
    background: #fff;
}

.container ul li>span::before {
    top: -10px;
}

.container ul li>span::after {
    top: 100%;
}

.container ul li .time span {
    position: absolute;
    font-size: 12px;
    left: -105px;
    width: 30px;
    text-align: right;
    color: #777;
}

.container ul li .time span:first-child {
    top: -12px;
}

.container ul li .time span:last-child {
    top: 100%;
}